@import url(../../App.css);
.logosection img{
    width: 20%;
    height: 20%;
    
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
   
}
.main-nav ul li {
    padding:0px 15px ;
}
.main-nav ul li:hover {
   color: var(--orangecolor);
   cursor: pointer;
   transition: all 0.3s ease 0s;
}
.main-nav ul a{
    background-color: var(--greencolor);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
}
.swiper {
    width: 600px;
    height: 300px;
  }