/*Global Colors*/
:root{
    --greencolor:#43ba7f;
    --orangecolor:#ff511a;
    --blackcolor: #212741;
    --whitecolor: #ffff;
    --padding-buttonT:12px;
    --padding-buttonR:30px;
}
/*End Global Colors */

/*Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
*{
font-family: 'Poppins', sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*Add global styling for not repeating same css*/
.active{
    color: var(--orangecolor) !important;
}
.green button{
    background-color: var(--greencolor);
    padding: var(--padding-buttonT) var(--padding-buttonR);
    color: var(--whitecolor);
    border-radius: 5px;
    border: transparent;
}