.swiper-container {
    height:calc(100vh - 0px);
    margin: 0px;
    background-color: #212741; /*color between each image or put overflow hidden inside swiper wrapper */

}
.swiper {
    width: 1519px !important;
    height: 1000px !important;
    overflow: hidden;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-slide{
    width: 1878px;
    height: 100%;
    transition: all 0ms ease 0s;
    flex-shrink: 0;
    position: relative;
}
.slide-inner{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
}
.dataone , .datatwo ,.datathree{
    transform: translate3d(0px, 0px, 0px);
    transition: all 0ms ease 0s;
    background-size: cover;
    background-position: center;
    
}
.imageback1{
    background-image: url(../../images/slide-01.jpg);
}
.imageback2{
    background-image:url(../../images/slide-02.jpg);
}
.imageback3{
    background-image: url(../../images/slide-03.jpg);
}